.foot{
    background:rgb(113, 72, 72);
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    overflow:hidden;}
.foot img{
    margin-top:-30px;
width:300px;
}
.foot p{
    margin-top:-100px;
    color:white;
}