.nav{
    display:flex;
    justify-content: center;
    gap:5em;
   border-bottom:2px solid black;
    align-items: center;
box-shadow:0px 0px 3px;
    height:80px;
}
.nav h3{
    font-family:'koulen';
text-transform: uppercase;
    font-weight:400;
     
}
a{
    text-decoration:none;

}
.link.active{
    color:red;
    border:2px solid gray;
   
   text-align:center;
   height:35px;
    width:100px;
}
.nav h1{
    margin-left:1em;
    margin-right:1em;
    font-family:'righteous';
    text-transform:uppercase ;
    
}
.nav2{
    display:none;
  
}
.ic{
    font-size:1.9rem;
    transform:scale(1);
    transition:0.3s ease-in;
    box-shadow:0px 0px 5px skyblue;
    border-radius:50%;
    width:35px;
    height:35px;
    padding:0.2em;
    display:none;}
.ic:hover{
    transform:scale(1.1);
    transition:0.3s ease-in;
}
@media(max-width:791px){
    .nav{
        gap:3em;
    }
}
@media(max-width:665px){
    .nav{
        gap:1.5em;
    }
}

@media(max-width:600px){
    .nav h3{
        display:none;
    }
    .ic{
        display:flex;
    }
   .nav a.active{
        display:none;
    }
    .nav2{
        display:flex;
    }
    .nav2 h3{
        display:flex;
    }
    .nav2 a.active{
      
        border:0px;
       text-align:center;
       
    }
   nav .kai{
        font-size:1.5rem;
     margin-left:-50px;
    }
    .nav2{
        position:relative;
        width:100%;
        height:250px;
        background: skyblue;
        box-shadow:0px 0px 5px;
     
    }
    .ic{
        position:absolute;
        top:22px;
        right:25px;
    }
    .nav2 {
        position:absolute;
        display:flex;
        background: linear-gradient(to bottom, #f0f0f0, #e4c4c4);
        flex-direction: column;
        align-items: center;
        gap:1em;
        font-family:'koulen';
text-transform: uppercase;
    font-weight:400;
    letter-spacing:2px;
        justify-content: center;
    }
.nav2 a.active{
    color:rgb(5, 85, 116);
}
}
@media(max-width:350px){
    
}