
.flex{
  
margin-top:40px;
    display: flex;
    justify-content: center;
    gap:4em;
    flex-wrap: wrap;
}
.cardss{
    width:350px;
    display:flex;
    flex-direction: column;
    gap:0.3em;
    padding:0.1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:370px;

}.titles{
    display:flex;
    width:340px;
    margin-left:5px;
  
    justify-content: space-between;
}
.titles img{
    border-radius:50%;
}
.para h5{
    font-family:'poppins';
    font-weight: 400;
}
.det, .vv{
    font-family: 'hammersmith one';
    display:flex;
    width:330px;
    gap:2em;
    margin-left:5px;
}
.s{
   position:absolute;
   top:0; 

    display:flex;
    height: 100%;
    width:100%;
    justify-content:center ;
    align-items: center;
}
.det h4 ,.bor h4 ,.vv h4{
   
display: flex;
align-items: center;
gap:4px;
}
.bor{
    border-left:2px solid gray;
    padding-left:1em;
}
.i{
   
    color:blueviolet;
}
.i1{
    color:white;
}
.para{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.para h5{
    width:200px;
}
.cl {
    width: 670px;
   
  
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    border: 1px solid rgb(158, 209, 231);

    background: linear-gradient(to bottom, #fff6e6, #ffebd9);

    gap: 0.5em;
    z-index: 200000000;
 
    padding: 0.6em;
   overflow: hidden;
  
    flex-direction: row;
    
}
.cross{
    position: absolute;
    right:10px;
    cursor: pointer;
    font-size:2rem;
}
.vv{
align-self: flex-start;
}
.idio{
    width:320px;
  overflow:hidden;
    display:flex;
    flex-direction: column;
}
.idio h2{
    font-family:'hammersmith one';
}
.bi{
    display:flex;
    flex-direction: column;
 

  gap:1em;
    align-items: center;
}
.imageBox{
    width:320px;
    height:250px;
 
    border-radius:7px;
    box-shadow:0px 0px 5px skyblue;
}
.imageBox img{
    width:320px;
    height:250px; 
    border-radius:7px;
    object-fit:cover;
}
.previousBtn, .nextBtn{
    background:skyblue;
    
}
.paginationBtns{
    width:80%;
    height:20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
}
.paginationBtns a{
    padding:5px;
    margin:8px;
    border-radius:5px;
    border:2px solid black;
    color:black;
    cursor:pointer;

}
@media(max-width:526px){
    .paginationBtns{
        width:80%;
        gap:1em;
    }
    .paginationBtns a{
        padding:5px;
        margin:0px;
        border-radius:5px;
        border:2px solid black;
        color:black;
        cursor:pointer;
    
    }
}

.aciveP a{
    color:white;
    background:#2b2eff;
}
.paginationBtns a:hover{
    color:white;
    background: #2b2eff;
}
.paragraphs{
    width:30ch;
    text-align: justify;
   
}
@media(max-width:385px){
    .cardss{
        width:320px;
        padding:0;
    }
    .cardss .imag{
        width:320px;
        height:210px;
    }
    .titles{
        width:310px;
    }
    .det {
        width:290px;
    }
    .expand{
        width:100px;
        height:35px;
    }
}
@media(max-width:350px){
    .cardss{
        width:280px;
        padding:0;
    }
    .cardss .imag{
        width:280px;
        height:170px;
    }
    .titles{
        width:270px;
    }
    .det {
        width:275px;
    }
}
@media (max-width:680px){
    .cl{
        border-radius:5px;
    
        width:450px;
        align-items: center;
        justify-content: center;
        height:240px;
       
    }
    .bi{
        width:220px;
    }
    .imageBox{
        width:200px;
       margin-left:10px;
        height:150px;
     align-self: flex-start;
    }
    .imageBox img{
        width:200px;
        height:150px; 
        border-radius:7px;
        object-fit:cover;
    }
    .idio h2{
font-size:1rem;
margin-top:15px;
    }
    .idio{
  
        width:223px;
        
    }
    .idio p{
        font-size:0.8rem;
        width:30ch;
        margin-top:-1px;
        font-size:0.7rem;
    }
    
    .idio .expand{
        margin-top:-18px;
    }
}
@media (max-width:459px){
    .cl{
        flex-direction: column;
        width:280px;
        border-radius:5px;
        height:450px;
        
    }
    .bi{
        padding-top:1em;
        align-items: center;
        overflow:hidden;
        justify-content: center;
    }
    .cross{
        top:0;
        right:1px;
    }
    .vv{
        padding:0;    
     
    }
}
