.items{
    width:350px;
    height:250px;
    
    border-radius:3px;
}
.items img{
    width:350px;
    height:250px;
    border-radius:3px;
    object-fit:cover;
}
.car{
    
margin-top:80px;
    width:1100px;
}

.carosel{
    display:flex;
   
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:2em;
    background: linear-gradient(to bottom, #ffffcc, #ffffff);
}

@media(max-width:1126px){
    .car{
        width:800px;
    }
    .gap{
        width:780px;
    }

   
     
}
@media(max-width:820px){
    .car{
        width:350px;
    }
    .gap{
        width:350px;
    }
}
@media(max-width:367px){
    .car{
        width:300px;
    }
    .gap{
        width:300px;
    }
    .items{
        width:300px;
        height:200px;
        
      
    }
    .items img{
        width:300px;
        height:200px;
        
        object-fit:cover;
    }
}
.twoBoxes{
    display:flex;
    flex-wrap: wrap;
    gap:1.5em;
    justify-content: center;
}
.left{
    width:450px;
  
    padding:1em;
    display: flex;
    flex-direction: column;
    gap:0.6em;
    border-right:2px solid gray;
}
.purpose{
    font-family:'poppins';
    text-align:center;
    text-transform:uppercase;
}
span{
    font-family:'hammersmith one';
    color:gray;
    font-weight:400;font-style: italic;
}
   
.sood{
    display:flex;
    justify-content: space-around;
}
.pri{
    margin-bottom:0.5em;
    text-align: center;
    font-family:'righteous';
    font-size:3rem;
    
}

.right{
width:500px;

}
.right h5{
font-size:1.1rem;

font-family:'poppins';
font-weight: 400;
}
.right p{
    font-size:0.9rem;
   width:480px;
    text-align: justify ;
}
.agency{
    border-top:2px solid gray;
    width:900px;
    display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:1em;
    padding-top:1.5em;
}
.agency h2{
font-family:'hammersmith one';
letter-spacing: 3px;
}
.agency h3{
    font-family:'hammersmith one';
    text-transform: uppercase;
    margin-top:20px;
}
.aL{
    display: flex;
    flex-direction: column;
    gap:0.3em;
 width:320px;
 border-right:2px solid gray;
}
.smallI{
    width:200px;
    height:200px;
}
.smallI img{
    width:200px;
   
    height:200px;
    object-fit:cover;
}

.contact{
    display:flex;
    flex-direction: column;
    gap:0.5em;
}
.contact h4{
    font-family:'roboto';
    color:darkslategray;
    text-transform: capitalize;
    font-weight:200;

}
@media (max-width:976px){
.left{
    width:320px;
}
.left .pri{
    font-size:2rem;

}
.sood{
    flex-direction: column;
    align-items: center;
}
.agency{
    width:700px;
}
.right{
    width:350px;
}
.right p{
    font-size:0.8rem;
    width:345px;
}
}
@media (max-width:711px){
    .twoBoxes{
        flex-direction:column;
        align-items: center;
        gap:1;
    }
    .left{
        border-right:0;
        border-bottom:2px solid gray;
    }
    .agency{
        gap:0.5em;
        width:550px;
    }
    .right h5{
       text-align: center;
    }
    .aL{
        width:250px;
    }
    .aL h3{
        font-size:0.9rem;
    }
    .smallI{
        width:150px;
        height:150px;
    }
    .smallI img{
        width:150px;
        height:150px;
    }
    .contact{
        width:250px;
    }
}
@media (max-width:552px){
.agency{
    flex-direction:column;
    width:400px;
    align-items: center;
}
.aL{
    border-right:0;
    align-items: center;
    border-bottom:2px solid gray;
}
.contact{
    align-items: center;
    width:300px;
}
}
@media (max-width:410px){
    .agency{
        width:305px;
    }
    .right{
        width:320px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right p{
        width:280px;

    }
}

@media(max-width:340px){
.left{
    width:280px;
    background:black;
}
.left span{
    font-size:0.7rem;
}
.contact{
    width:280px;

}
}