.kk{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
  
}
.filter{
    margin-left:0.4em;
    font-size:1.3rem;
    padding-top:0.1em;
}

.cen-se{

    display: flex;
    width:1000px;
  flex-direction: column;
  padding:0.5em;
  gap:0.3em;
  justify-content: flex-start;
    align-items:flex-start;
    background-color: aquamarine;
}
.selc{
    width:80px;
    padding:0.5em;
    border:2px solid black;
    border-radius:5px;
    font-family:'hammersmith one';
    outline:none;
}